/* Container for split screen */
.login-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Left side with background image */
.login-left {

  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/icons/marine-bg.png") no-repeat;
  background-size: cover;

}

.container {
  width: 50%;
}

.login-left .bg {
  width: 100%;
  height: 100%;
}

/* Right side for form */

/* Form box */
.form-wrapper {
  width: 100%;
  max-width: 400px;
  min-height: 250px;
  background: whitesmoke;
  padding: 40px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 10px;
  margin-bottom: 60px;
}

.form-wrapper h1{
  text-align: center;
  margin-bottom: 20px;
}

.form-wrapper .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  background: none;
}

.form-wrapper .img {
  width: 100px;
  height: auto;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  color: #222222;
}

/* Form groups */
.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #181818;
}

.form-group input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border 0.2s ease-in-out;
}

.form-group input:focus {
  border-color: #007bff;
}

/* Error message */
.error-box {
  background: #ffe5e5;
  color: #d9534f;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 14px;
}

/* Button */
.btn-login {
  width: 100%;
  padding: 12px;
  border: none;
  background: #0082c3;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-login:hover {
  background: #0056b3;
}

/* Signup link */
.signup-text {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.signup-text a {
  color: #007bff;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}