.dynamic-add {
    border: 3px solid var(--light-background);
    padding: 0.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 460px;
    height: auto;
}

.dynamic-add .head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
}

.title-block {
    padding: 0.5rem;
}

.info{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 10px 0;
    padding: 0.5rem;
    border-radius: 6px;
    background-color: rgb(248, 247, 247);
    border: 1px solid var(--border-secondary);
}

.title-block p {
    font-size: 16px;
    font-weight: 500;
    color: #222;
}

.head button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 3rem;
    align-items: center;
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
}

.head button img {
    width: 14px;
    height: 12px;
    vertical-align: middle;
}

.input-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.input-block {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.input-block:not(:last-child) {
    margin-bottom: 0.5rem;
}

.input-container .input-block input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--border-secondary);
    border-radius: 4px;
}

.input-block .remove {
    margin-left: 4px;
    width: 20px;
    cursor: pointer;
    height: 20px;
}