:root {
    --primary-color: #3b82f6;
    --secondary-color: #f7f5f4;
    --light-background: #e6f0ff;
    --tertiary-color: #a2c4fa;
    --text-dark: #3a374e;
    --text-light: #333;
    --border-color: #cac9dd;
    --background-color: #faf9ff;
    --white-color: #ffffff;
    --danger-color: #f87171;
    --border-secondary: #ccc;
  }
  